.ul 
{ 
list-style-type:none; 
margin:0; 
padding:0; 
} 
li 
{ 
display:inline; 
} 
a:link,a:visited 
{ 
color:#FFFFFF; 
background-color:#B4CDCD; 
text-align:center; 
padding:6px; 
text-decoration:none; 
} 
a:hover,a:active 
{ 
background-color:#7A8B8B; 
}